/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  position: relative;
  padding-top: 150px; /* Reserve space for header */
  overflow: auto; /* Enable scrolling */
  background: url("media/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Disable scrolling when needed */
body.modal-open {
  overflow: hidden;
}

/* Ensures Clappr Player is visible */
#player {
  width: 100%;
  height: 100%;
}

/* Ensure the Clappr video covers the streaming container */
#player video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Desktop Default */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content starting from left */
  gap: 20px; /* Space between logo and nav */
  padding: 4vh 2vw;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 10;
  height: 6vh;
}

/* Logo and Navigation for Desktop */
header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 50px;
  width: auto;
}

header nav {
  margin-left: 20px; /* Slight offset from the logo */
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  margin-left: 2em !important; /* Add space between links */
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #ee60b8;
}

/* Streaming Container */
#streaming-container {
  position: relative;
  top: 1vh; /* Slightly below header */
  z-index: 5;
  margin: auto;
  width: 65%; /* Width is 65% of the screen */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 ratio for height */
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  overflow: hidden;
  flex-shrink: 0; /* Prevent the container from shrinking in the flex layout */
}

.about_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 40%; /* Make the container smaller */
  max-width: 600px; /* Limit the maximum size */
  margin: 20px 0 20px 20px; /* Position the container on the left side */
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  text-align: center; /* Center the text inside the container */
  color: white;
}

.about_container h1 {
  grid-column: 1 / -1; /* Make the title span all columns */
  margin-bottom: 20px; /* Add some space below the title */
  color: white;
  font-size: 1.5em; /* Increase font size */
  font-weight: bold; /* Make the text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

/* Documentation Container */
.documents_container {
  flex-grow: 1; /* Allow this container to grow and take up available space */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  text-align: center; /* Center the text inside the container */
  color: white;
}

.documents_container h1 {
  grid-column: 1 / -1; /* Make the title span all columns */
  margin-bottom: 20px; /* Add some space below the title */
  color: white;
}

/* Box */
.modal-button {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: Arial, sans-serif;
  text-decoration: none; /* Remove underline from links */
  color: white; /* Text color */
  font-weight: bold; /* Bold text */
  font-size: 1em;
  height: 200px; /* Set a fixed height for all boxes */
}

.modal-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Footer */
footer {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  text-align: center;
  width: 100%;
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 14px;
  position: relative;
  bottom: 0;
  margin-top: 50px; /* Added margin to push the footer further down */
}

.doc-container {
  flex-grow: 1; /* Gör att denna sektion fyller all tillgänglig plats */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(
    100vh - 60px
  ); /* Justerar höjden för att ta hänsyn till rubriken och tillbaka-länken */
}

/* Gör att inbäddningen av Google Docs täcker hela området */
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.documents_container button:active {
  transform: translateY(5px);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1300px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in the width and height */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  backdrop-filter: blur(5px);
  text-align: center; /* Center the text inside the container */
  color: white;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {
  padding: 2px 16px;
}

.modal-content h1,
h2,
h3 {
  font-size: 1.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding-top: 100px; /* Adjust for smaller header on mobile */
  }

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
    height: auto;
  }
  
  header .logo {
    margin-bottom: 10px;
  }
  
  header .logo img {
    height: 50px; /* You can adjust further if desired */
    width: auto;
  }
  
  header nav {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  
  header nav ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  header nav ul li a {
    font-size: 1.1em;
    margin-left: 2em !important; /* Add space between links */
    padding: 5px 10px;
  }

  #streaming-container {
    width: 90vw; /* Adjust width for mobile */
  }

  #about-container {
    width: 90vw; /* Adjust width for mobile */
    margin-left: 10px; /* Adjust margin for mobile */
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  body {
    padding-top: 120px; /* Adjust space for header when stacked */
  }
  
  header {
    flex-direction: column; /* Stack logo and nav vertically */
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
    height: auto;
  }
  
  header .logo {
    margin-bottom: 5px;
  }
  
  header .logo img {
    height: 50px; /* Adjust logo size for mobile */
    width: auto;
  }
  
  header nav {
    width: 100%;
    text-align: center;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0;
  }
  
  header nav ul li a {
    font-size: 1.1em;
    padding: 5px 10px;
    margin-left: 2em; /* Add space between links */
  }
}
